.todos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.todos > div {
  margin-bottom: 20px;
}

.todos h2 {
  margin-bottom: 10px;
}

.todos h3 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .todos > div {
    width: 100%;
  }
}
