
.grow { 
    transition: all .2s ease-in-out; 
}
        
.grow:hover { 
    transform: scale(1.1); 
}
.glass{
background: linear-gradient(235deg, rgba(255, 255, 255, 0.631), rgba(255, 255, 255, 0.782));
backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(30px);
border-radius: 20px;
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}
.font-colour{
    color: whitesmoke;
}
